@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*declaring font family and font for whole of the website*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

/*background image for the enter page and its styling*/
.enter-battlefield {
    background-image: url("../../assets/images/enter-screenhd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/*for positioning of button on the enter page*/
.enter-button {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

/*styling for enter the clone wars button*/
.button {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    display:inline-block;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:darkblue;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}

/*this is for the button dropping upon being clicked, css animation*/
.button:active {
    background-color: red;
    box-shadow: 0 5px darkgray;
    transform: translateY(4px);
}

/*hover feature to show user button is active upon hovering*/
.button:hover {
    background-color: red;
    color: white;
    box-shadow: 0 10px 10px 0 white, 0 10px 50px 0 white;
  }

  /*styling for header on home page*/
h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-weight: 300;
    letter-spacing: 10px; 
    text-shadow: 5px 5px 5px greenyellow;
  }

  /*background image for game screen*/
.clone-wars {
    background-image: url("../../assets/images/captain-rex.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*code for title of the game page and its styling*/
header a {
    text-decoration: underline;
    color: #fff;
    text-align: center; 
    font-size: 120%; 
    letter-spacing: 10px; 
    text-shadow: 5px 5px 5px red;
}

/*styling for the game nav bar*/
#menu{
    font-size: 100%;
    color: #ffffff;
}

#menu li {
    float: right;
    letter-spacing: 5px;
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
}

/*styling for showing active pages to indicate which page the user is on*/
#menu a:hover{
    border-bottom: 1px solid yellow;
    color: red;
}

.active-page {
    border-bottom: 1px solid red;
}
