@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*declaring font family and font for whole of the website*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

/*background image for the enter page and its styling*/
.enter-battlefield {
    background-image: url("../../assets/images/enter-screenhd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/*for positioning of button on the enter page*/
.enter-button {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

/*styling for enter the clone wars button*/
.button {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    display:inline-block;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:darkblue;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    border: 2px solid white;
}

/*this is for the button dropping upon being clicked, css animation*/
.button:active {
    background-color: blue;
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

/*hover feature to show user button is active upon hovering*/
.button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 5px 5px 0 green, 0 5px 10px 0 green;
  }

  /*styling for header on home page*/
h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-weight: 300;
    letter-spacing: 10px; 
    text-shadow: 5px 5px 5px greenyellow;
  }

  /*background image for game screen*/
.clone-wars {
    background-image: url("../../assets/images/red-trooper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*code for title of the game page and its styling*/
header a {
    text-decoration: underline;
    color: #fff;
    text-align: center; 
    font-size: 120%; 
    letter-spacing: 10px; 
    text-shadow: 5px 5px 5px red;
}

/*styling for the game nav bar*/
#menu{
    font-size: 100%;
    color: #ffffff;
}

#menu li {
    float: right;
    letter-spacing: 5px;
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
}

/*styling for showing active pages to indicate which page the user is on*/
#menu a:hover{
    border-bottom: 1px solid yellow;
    color: red;
}

.active-page {
    border-bottom: 1px solid red;
}

/*this is the div that the 4 panels sit in, and the styling to centralise the game*/
#game {
    text-align: center;
    margin-top: 10%;
}

#farleft {
    display: inline-block;
    background: darkgreen;
    background-image: url("../../assets/images/panel-images/green-clone.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    height: 225px;
    width: 225px;
    margin-right: 3%;
    margin-left: 3%;
    cursor: pointer;
}

#middleleft {
    display: inline-block;
    background: darkred;
    background-image: url("../../assets/images/panel-images/red-clone.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    height: 225px;
    width: 225px;
    margin-right: 3%;
    margin-left: 3%;
    cursor: pointer;
}

#middleright {
    display: inline-block;
    background: goldenrod;
    background-image: url("../../assets/images/panel-images/yellow-clone.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    height: 225px;
    width: 225px;
    margin-right: 3%;
    margin-left: 3%;
    cursor: pointer;
}

#farright {
    display: inline-block;
    background: darkblue;
    background-image: url("../../assets/images/panel-images/blue2-clone.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    height: 225px;
    width: 225px;
    margin-right: 3%;
    margin-left: 3%;
    cursor: pointer;
}

/*all styling for the switches section at the bottom of the screen*/
#switches {
    text-align: center;
    margin-top: 5%;
}

/*this is for the turn counter in the game*/
#turn {
    text-align: center;
    position: absolute;
    margin-left: 47%;
    background: black;
    color: red;
    font-size: 20px;
    height: 40px;
    width: 50px;
    /*vertical-align: middle;*/
    line-height: 40px;
  }

/*styling for the count text*/
.texttwo {
    font-size: 120%;
    margin-top: 2%;
    margin-left: 46%;
  }

/*styling for the feedback button leading to the feedback form page*/
.feedback-button {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:white;
    background-color:darkblue;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:right;
    float: right;
}

/*this is for the button dropping upon being clicked, css animation*/
.feedback-button:active {
    background-color: black;
    /*box-shadow: 0 5px darkgray;*/
    transform: translateY(4px);
}

/*hover feature to show user button is active upon hovering*/
.feedback-button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 5px 5px 0 #32CD32, 0 5px 10px 0 #32CD32;
  }

.form-background {
    background-image: url("../../assets/images/captain-rex.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.feedback-title {
    text-align: center;
    font-size: 250%;
    font-weight: 300;
}

.form-section {
    margin-top: 5%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 500px;
    position: absolute;
    left: 30%;
    padding: 15px;
    text-align: center;
}

.text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input2 {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 70px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover{
    border-color: #f16c6b;
}

.text-input2:hover{
    border-color: #f16c6b;
}

.submit{
    margin-top: 1%;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.submit:hover{
    background-color: #fafafa;
    color: #f16c6b;
}

/*this section is all for media queries to make each page responsive to different devices*/
/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
}




/* For large to medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {
}



/*For large to medium screens sizes from 600px wide and down */
@media screen and (max-width: 600px) {
}




/* For small screens sizes from 400px wide and down */
@media screen and (max-width: 400px) {
  /*for the home screen background image which changes on mobile devices*/
    .enter-battlefield {
        background-image: url("../../assets/images/rex-alert-pic.jpg");
        max-height: auto;
        height: auto;
    }

    img {
        width: auto;
        max-width: 100%;
        height: auto;
    }

      /*styling for header on home page*/
h1 {
    text-align: center;
    font-size: 250%;
    font-weight: 300;
    letter-spacing: 5px; 
    text-shadow: 5px 5px 5px greenyellow;
  }


    .button {
        font-weight: 300;
        letter-spacing: 5px;
    }

    /*code for title of the game page and its styling*/
    header a {
    font-size: 100%; 
    letter-spacing: 5px; 
    text-shadow: 5px 5px 5px red;
    }

    #menu li {
        letter-spacing: 5px;
        display: inline;
    }

    #farleft {
        height: 150px;
        width: 100px;
        margin-top: 5%;
    }

    #middleleft {
        height: 150px;
        width: 100px;
    }
    
    #middleright {
        height: 150px;
        width: 100px;
    }
    
    #farright {
        height: 150px;
        width: 100px;
        
    }
}


